@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
  --background: #e5e5e5;
  --text-dark: #172b4d;
  --text-green: #36b37f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  background-color: var(--background);
  line-height: 1.5;
  color: var(--text-dark);
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Navigation styles */
.nav__logo p {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav__links-items {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Styles */
.header {
  text-align: center;
  background-image: url(./images/header-illsutration-mobile.svg);
  background-size: cover;
  background-position: top;
  padding: 2rem;
}

.header__title {
  margin-bottom: 3rem;
}

.header__content {
  margin-bottom: 3rem;
}

.header__title-dark,
.header__title-green {
  display: block;
  font-size: 2rem;
}

.header__title-dark {
  color: var(--text-dark);
}

.header__title-green {
  color: var(--text-green);
}

.header__social img {
  display: inline-block;
  padding: 1rem;
}

.header_arrow-down {
  padding: 2rem;
}
